[submodule "bundle/clang"]
	path = bundle/clang
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/latexsuite"]
	path = bundle/latexsuite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
